/* src/styles/themes/globals.css */

/* Tema claro: se aplica cuando el elemento <html> tiene la clase .light */
.light {
  --color-bg: #fdf8f3;
  --color-surface: #fefcf9;
  --color-text-primary: #4b375a;
  --color-text-secondary: #796465;
  --color-accent: #ffcc70;
}

/* Tema oscuro: se aplica cuando el elemento <html> tiene la clase .dark */
.dark {
  --color-bg: #131219;
  --color-surface: #1d1a26;
  --color-text-primary: #e2e0f4;
  --color-text-secondary: #a6bcb3;
  --color-accent: #90f5c3;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}
