/* src/styles/themes/globals.css */

/* Tema claro: se aplica cuando el elemento <html> tiene la clase .light */
.light {
  --color-bg: #f6f3df;
  --color-surface: #fffce7;
  --color-text-primary: #4b453e;
  --color-text-secondary: #aaa;
  --color-text-labels: #fa0;
  --color-accent: #6e40ff;
  --color-shadow: #e5e5e5;

  --color-border: #e5e5e5;
  --color-muted: #a3a6c4;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}

/* Tema oscuro: se aplica cuando el elemento <html> tiene la clase .dark */
.dark {
  --color-bg: #0e0c15;
  --color-surface: #14141f;
  --color-text-primary: #fff9ee;
  --color-text-secondary: #b3abbb;
  --color-text-labels: #888;

  --color-accent: #332366;
  --color-shadow: #1e1927;

  --color-border: #1e1927;
  --color-muted: #0e0e14;
  --color-success: #4ade80;
  --color-warning: #facc15;
  --color-error: #f87171;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}
svg {
  @apply transition-colors duration-100;
}
