/* src/styles/themes/globals.css */

/* Tema claro: se aplica cuando el elemento <html> tiene la clase .light */
.light {
  --color-bg: #fffcf5;
  --color-surface: #fffcf1;
  --color-text-primary: #4b453e;
  --color-text-secondary: #555555;
  --color-accent: #6e40ff;

  --color-border: #e5e5e5;
  --color-muted: #f1f1f1;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}

/* Tema oscuro: se aplica cuando el elemento <html> tiene la clase .dark */
.dark {
  --color-bg: #0e0c15;
  --color-surface: #14141f;
  --color-text-primary: #fff9ee;
  --color-text-secondary: #b3abbb;
  --color-accent: #9d7fff;

  --color-border: #191924;
  --color-muted: #0e0e14;
  --color-success: #4ade80;
  --color-warning: #facc15;
  --color-error: #f87171;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}
svg {
  @apply transition-colors duration-100;
}
