/* 1. Importar Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Geist+Sans&family=Geist+Mono&display=swap");

/* 2. Importar TailwindCSS (v4) */
@import "tailwindcss";

/* 3. Importar variables de tema definidas en feature */
@import "../features/theme/styles/index.css";

/* 4. Variables de fuentes */
:root {
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

/* 5. Estilos base */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

code,
pre {
  font-family: var(--font-mono);
}
